footer{
    margin-top:5%;
    height:220px;
    width:100%;
    background-color:#080808;
    display: inline-block;
}
#footerText{
    text-align: center;
    color: white;
}
.footDiv{
    height:90px;
    width:33%;
    float:left;
    border-right:2px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
}
.noBorder{
    border:none 
}
.slogo{
    height:50px;
    width:50px;
}